body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    border-top: none;
    border-left: none;
    background-color: lightgrey;
}


.up{
    transform: rotate(90deg);
}
.down {
    transform: rotate(90deg);
}

.head {
    background-color: rgb(219, 235, 195);
    transform: rotate(0);
}

.tail {
    background-color: rgb(194, 247, 194);
}

.apple {
    background-color: rgb(243, 177, 177);
}

