body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
}

.field {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

#game-over {
    position: absolute;
    font-size: 56px;
    z-index: 10;
}

.restart-button {
    background-color: #008CBA;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 10px 5px;
    margin-top: 5px;
}

.restart-button:hover {
    cursor: pointer;
    background-color: #097092;
}

.up {
    transform: rotate(90deg);
}

.down {
    transform: rotate(90deg);
}

.head {
    background-color: rgb(194, 247, 194);
    transform: rotate(0);
}

.tail {
    background-color: rgb(194, 247, 194);
}

.apple {
    background-color: rgb(243, 177, 177);
}