body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    border:1px solid white;
    border-top: none;
    border-left: none;
    background-color: lightgrey;
}

.head {
    background-color: greenyellow;
}

.tail {
    background-color: green;
}

.apple {
    background-color: red;
}